:root
{
    --header-background: #1a1a1a;
    --main-background: #121212;
    --grey: #5e5e5e4f;
    --white: #ffffff;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--main-background);
}

/*Empieza header*/
    header
    {
        width: 100vw;
        height: auto;
        background-color: var(--header-background);
        box-shadow: 20px 0 10px;
    }

    header nav
    {
        display: flex;
        color: var(--white);
        justify-content:space-between;
    }

    nav .logo-container
    {
        display: block;
        margin: 20px;
    }

    nav .logo-container h1
    {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    nav .menu-icon-container
    {
        display: block;
        margin: 20px;
        font-size: 2rem;
        align-self: center;
    }

    nav .menu-links-container
    {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        justify-content: center;
        align-items: center;
        background-color: var(--header-background);
        transition: top 1s ease;
        list-style: none;
        display: none;
    }

    nav .menu-links-container li a
    {
        display: inline-block;
        padding: 15px;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.4rem;
        text-decoration: none;
        color: var(--white);
    }

    nav .menu-links-container li:hover
    {
        border-radius: 5px;
        background-color: var(--grey);
    }

    nav .menu-links-container .close-menu-icon-container
    {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
    }

    .hr-header
    {
        width: 50%;
        margin: 10px 0;
    }
/*Termina header*/
/*Empieza main*/
    main
    {
        display: flex;
        height: 100%;
        margin: 35px 0;
        align-items: center;
    }

    .slider
    {
        width: 100%;
        height: 100%;
    }

    .prev-button, .next-button
    {
        display: flex;
        width: 45px;
        height: 45px;
        margin-top: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        font-size: 2.5rem;
        color: var(--white);
        background-color: unset;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        transition: all 0.3s;
    }

    .slides-container
    {
        width: 100%;
        height: 100%;
    }
    
    .slide-container
    {
        width: 100%;
        height: 100%;
        display: none;
    }

    .slide-container.active
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slide-container.active h2
    {
        display: flex;
        align-items: center;
    }

    .slide-container.active a .img-container
    {
        animation: fade-in 0.4s 1;
    }

    @keyframes fade-in
    {
        from
        {
            opacity: 0;
            transform: translateX(-20px);
        }
        to
        {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .slide-container.active h2
    {
        height: 10%;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        color: var(--white);
    }

    .slide-container.active a
    {
        width: 100%;
        height: 90%;
    }

    .img-container
    {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }

    .img-container.mobiliario-flatpack
    {
        background-image: url('/Img/Flatpack/Portada_Render3/mobile-tablet.jpg');
    }

    .img-container.silla-ciclo
    {
        background-image: url('/Img/Ciclo/Portada_Detalle3/mobile-tablet.jpg');
    }

    .img-container.mesa-atlas
    {
        background-image: url('/Img/Atlas/Portada_Render2/mobile-tablet.jpg');
    }

    .img-container.img-container.envase-perfume
    {
        background-image: url('/Img/Vidrio/Portada_Render1/mobile-tablet.jpg');
    }
/*Termina main*/