body
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/*Empieza header*/
    header nav
    {
        padding: 0 20px;
    }

    nav .menu-icon-container
    {
        display: none;
        width: 75%;
    }

    nav .menu-links-container
    {
        display: flex;
        width: 25%;
        height: auto;
        flex-direction: row;
        position: static;
        justify-content: space-around;
        align-items: center;
        transition: none;
    }

    nav .menu-links-container .close-menu-icon-container
    {
        display: none;
    }

    .hr-header
    {
        width: 1px;
        height: 30px;
    }

    nav .menu-links-container li a
    {
        padding: 10px 40px;
    }
/*Termina header*/
/*Empieza main*/
    main
    {
        flex-direction: row;
        padding: 0 120px;
    }

    .main-left-side-container
    {
        display: flex;
        width: 40%;
        padding: 20px 40px;
        justify-content: flex-end;
    }

    .main-right-side-container
    {
        width: 60%;
        padding: 20px;
    }
/*Termina main*/
/*Empieza footer*/
    footer
    {
        flex-direction: row;
        justify-content: space-around;
        color: #818181;
    }

    footer section
    {
        display: flex;
        width: 25%;
        flex-direction: column;
    }

    .footer-software-skills-card
    {
        width: auto;
    }

    .footer-contact-card
    {
        width: auto;
    }

    .hr-footer
    {
        display: none;
    }

    .left-side-container
    {
        display: flex;
        width: initial;
        padding: 0;
        margin-bottom: 15px;
        justify-content: initial;
    }

    .right-side-container
    {
        width: initial;
        padding: 0;
    }

    .right-side-container .software-skills-container li
    {
        margin-left: 40px;
        margin-bottom: 5px;
    }

    .right-side-container .contact-links-container li
    {
        margin-left: 20px;
    }

    .contact-links-container li a
    {
        color: #818181;
    }
/*Termina footer*/